<main role="main" class="container">
  <div class="starter-template">
    <h2>Welcome to <span class="text-primary" > itesm classrooms </span></h2>
    
       <p>
      You are currently logged out, please login at 
      <a class="btn btn-primary" href="/auth/office365/login">Login</a>
    </p>
  </div>
</main>
